body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("~/Content/Images/backgroung.jpg");
    background-color: #817A79

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.image-upload{
    margin-left:30px;
}

input[type="file"]
{
    display:inline;
}

.logo-div {
    display: inline-block;
}

.details-div
{
    display:inline-block;
    vertical-align:middle;
}

.create-image {
    display: inline-block;
    width: 200px;
    margin-top: 440px;
}

.creates-image 
{
    display:inline-block;
    width:600px;
    margin-top:300px;
}

.create-body
{
    margin-top:-390px;
}