body {
    background-color: #DCDCDC;
}

.container{
    width:95%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/*input {
    max-width: 320px;
}*/

.image-upload{
    margin-left:30px;
}

input[type="file"]
{
    display:inline;
}

.logo-div {
    display: inline-block;
    width: 320px;
}

.details-div
{
    display:inline-block;
    vertical-align:middle;
}

.edit-div{
    display: inline-block;
    vertical-align: top;
}

.create-div {
    display: inline-block;
    vertical-align: top;
}

a {
    background-color: #fec810;
    color: white;
    padding: 4px;
    border-radius: 3px;
}

input#likeButton {
    background: #3a5199 url('Images/like_icon.png') no-repeat;
    color: #fff;
    padding-left: 31px;
    background-size: 24px;
    /*background-position-y: 2px;*/
    background-position-x: 6px;
}
.deleteButton {
    background: #b2473e url('Images/delete_white.png') no-repeat;
    color: #fff;
    padding-left: 25px;
    background-size: 18px;
    background-position-y: 4px;
    background-position-x: 7px;
}

.createButton {
    background: #a5c05b url('Images/create_white_icon.png') no-repeat;
    color: #fff;
    padding-left: 27px;
    background-size: 20px;
    background-position-y: 4px;
    background-position-x: 6px;
}

.editButton {
    background: #2D8FB2 url('Images/edit_white.png') no-repeat;
    color: #fff;
    padding-left: 31px;
    background-size: 24px;
    background-position-y: 2px;
    background-position-x: 6px;
}

.saveButton {
    background: #f18681 url('Images/save_icon_white.png') no-repeat;
    color: #fff;
    padding-left: 31px;
    background-size: 24px;
    background-position-y: 2px;
    background-position-x: 6px;
}

.backButton {
    background: #ffbb00 url('Images/back_icon_white.png') no-repeat;
    color: #fff;
    padding-left: 31px;
    background-size: 24px;
    background-position-y: 2px;
    background-position-x: 6px;
    position: relative;
    float: right;
    margin-right: 4px;
}

.detailsButton {
    background: #128277 url('Images/details_white.png') no-repeat;
    color: #fff;
    padding-left: 26px;
    background-size: 18px;
    background-position-y: 5px;
    background-position-x: 9px;
}

input[type=file] {
    color: #000;
    background-color: #fec810;
    padding: 4px;
    border-radius: 3px;
    position: relative;
    top: -4px;
    width: 200px;
}


.yellow-text {
    color: #fec810;
}

.yellow-btn {
    background-color: #fec810;
    color: black;
}


.form-group input[type=submit] {
    position: relative;
    float: right;
}

.form-group{
    width:320px;
}

.edit-form{
    text-align:center;
}

.create-form {
    text-align: center;
}

/* all mobile phones */
@media only screen and (max-width: 768px) {

    .logo-media {
        margin-left: 10vw;
    }
    .video-link {
        margin-top: 20px;
        margin-left: 0vw;
    }

    .details-media {
        margin-top: 20px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .video-link{
        margin-top:20px;
        margin-left: 20vw;
    }

    .details-media{
        margin-top: 35px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .centre-container{
        padding-left: 100px;
    }

    .video-link {
        margin-top: 0px;
        margin-left: 0vw;
    }

    .details-media {
        margin-top: 0px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

} 