body {
    background-color: #DCDCDC;
}

.container{
    width:95%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/*input {
    max-width: 320px;
}*/

.image-upload{
    margin-left:30px;
}

input[type="file"]
{
    display:inline;
}

.logo-div {
    display: inline-block;
    width: 320px;
}

.details-div
{
    display:inline-block;
    vertical-align:middle;
}

.edit-div {
    display: inline-block;
    vertical-align: top;
}

a {
    color: #fff;
    padding: 4px;
    border-radius: 3px;
}

input#likeButton {
    background: #3a5199 url('Images/like_icon.png') no-repeat;
    color: #fff;
    padding-left: 31px;
    background-size: 24px;
    background-position-y: 2px;
    background-position-x: 6px;
}

input[type=file] {
    color: #000;
    background-color: #fec810;
    padding: 4px;
    border-radius: 3px;
    position: relative;
    top: -4px;
    width: 200px;
}


.yellow-text {
    color: #fec810;
}

.form-group input[type=submit] {
    position: relative;
    float: right;
}

.form-group{
    width:320px;
}

.edit-form{
    text-align:center;
}