<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://toyfranchises.swathikapu.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://toyfranchises.swathikapu.com:8172/MsDeploy.axd?site=swathikapu-001-subsite3</MSDeployServiceURL>
    <DeployIisAppPath>swathikapu-001-subsite3</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\swathikapu-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ToyDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=sql6001.site4now.net;Initial Catalog=DB_A4BCA1_toyfranchises;Persist Security Info=True;User ID=DB_A4BCA1_toyfranchises_admin;Password=1@vinayaka;TrustServerCertificate=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ToyStoryApplication.Models.ToyDBEntities, ToyStoryApplication" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ToyDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.FranchiseModel.csdl|res://*/Models.FranchiseModel.ssdl|res://*/Models.FranchiseModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sql6001.site4now.net;Initial Catalog=DB_A4BCA1_toyfranchises;Persist Security Info=True;User ID=DB_A4BCA1_toyfranchises_admin;Password=1@vinayaka;TrustServerCertificate=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>